<?xml version="1.0" ?>
<config>
    <modules>
        <Meanbee_OrderShare>
            <version>1.1.4</version>
        </Meanbee_OrderShare>
    </modules>

    <global>
        <models>
            <ordershare>
                <class>Meanbee_OrderShare_Model</class>
            </ordershare>
        </models>
        <blocks>
            <ordershare>
                <class>Meanbee_OrderShare_Block</class>
            </ordershare>
        </blocks>
        <helpers>
            <ordershare>
                <class>Meanbee_OrderShare_Helper</class>
            </ordershare>
        </helpers>

    </global>

    <frontend>
        <layout>
            <updates>
                <ordershare>
                    <file>meanbee/ordershare.xml</file>
                </ordershare>
            </updates>
        </layout>
        <translate>
            <modules>
                <Meanbee_OrderShare>
                    <files>
                        <default>Meanbee_Ordershare.csv</default>
                    </files>
                </Meanbee_OrderShare>
            </modules>
        </translate>
    </frontend>
     
    <admin>
        <routers>
            <ordershare>
            <use>admin</use>
            <args>
                <module>Meanbee_OrderShare</module>
                <frontName>ordershare</frontName>
            </args>
        </ordershare>
        </routers>
    </admin> 

    <adminhtml>
        <acl>
            <all>
                <title>Allow Everything</title>
            </all>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordershare translate="title" module="ordershare">
                                            <title>Order Share</title>
                                        </ordershare>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
    <default>
        <ordershare>
            <design>
                <columncount>4</columncount>
            </design>
        </ordershare>
    </default>

</config>
